<div xmlns:th="http://www.thymeleaf.org">
    <div class="modal-content">
        <span class="closePopup" th:attr="onclick=|closePopupFunction('modalDetailIdView')|">×</span>
        <form role="form" action="#" th:action="@{/manager/show-acc-detail}" method="post" th:object="${objUser}">
            <input type="hidden" th:field="*{userId}" id="userId">
            <div class="form-group">
                <!--<div class="col-1">
                    <label>Username:</label>
                    <input type="text" th:field="*{username}" readonly="true"/>
                </div>
                <div class="col-2">
                    <label>Mật khẩu:</label>
                    <input type="text" th:field="*{passwords}" readonly="true" disabled="true"/>
                </div>-->
                <label>Username:</label>
                <input type="text" th:field="*{username}" readonly="true" disabled="true"/>
                <span class="col-space"></span>
                <label>Mật khẩu:</label>
                <input type="text" th:field="*{passwords}" readonly="true" disabled="true"/>

            </div>

            <div class="form-group">
                <!--<div class="col-colspan2">
                    <label>Tên Công ty:</label>
                    <input type="text" th:field="*{company}" class="long-width-element"/>
                </div>-->
                <label>Tên Công ty:</label>
                <input type="text" th:field="*{company}" class="long-width-element" readonly="true" disabled="true"/>

            </div>
            <div class="form-group">
                <label>Email:</label>
                <input type="text" th:field="*{email}" class="long-width-element" readonly="true" disabled="true"/>
            </div>

            <div class="form-group">

                <label>Trạng thái</label>
                <input type="checkbox" th:field="*{enable}" readonly="true" disabled="true"/>
                <span class="col-space-checkbox"></span>

                <label>Trả trước:</label>
                <input type="checkbox" th:field="*{prepaid}" readonly="true" disabled="true"/>
            </div>


            <div class="form-group">
                <label>Số dư:</label>
                <input type="text" th:field="*{cashBalance}" readonly="true" disabled="true"/>
                <span class="col-space"></span>
                <label>Đơn vị tiền tệ:</label>
                <input type="text" th:field="*{currency}" readonly="true" disabled="true"/>
            </div>

            <div class="form-group">
                <label>Người đại diện:</label>
                <input type="text" th:field="*{fullname}" readonly="true" disabled="true"/>
                <span class="col-space"></span>
                <label>Số điện thoại:</label>
                <input type="text" th:field="*{phone}" readonly="true" disabled="true"/>
            </div>

            <div class="form-group">
                <label>Gửi tin QC,MXH:</label>
                <input type="checkbox" th:field="*{allowSocialMsg}" readonly="true" disabled="true"/>
                <span class="col-space-checkbox"></span>

                <label>Gửi trùng tin:</label>
                <input type="checkbox" th:field="*{messageDouble}" readonly="true" disabled="true"/>
            </div>

            <div class="form-group">
                <label>Nhận thông báo:</label>
                <input type="text" th:field="*{notification}" readonly="true" disabled="true"/>
                <span class="col-space"></span>
                <label>Thời gian đăng nhâp:</label>
                <input type="text" th:field="*{lastLogin}" readonly="true" disabled="true"/>
            </div>

            <div class="form-group">
                <label>Địa chỉ IP:</label>
                <input type="text" th:field="*{ipAddress}" class="long-width-element" readonly="true" disabled="true"/>
            </div>

            <div class="form-group">
                <label>Người tạo:</label>
                <input type="text" th:field="*{createId}" readonly="true" disabled="true"/>
                <span class="col-space"></span>
                <label>Ngày tạo:</label>
                <input type="text" th:field="*{createTime}" readonly="true" disabled="true"/>
            </div>

            <div class="form-group">
                <label>Người sửa đổi:</label>
                <input type="text" th:field="*{updatedBy}" readonly="true" disabled="true"/>
                <span class="col-space"></span>
                <label>Ngày sửa đổi:</label>
                <input type="text" th:field="*{updatedTime}" readonly="true" disabled="true"/>
            </div>

            <div class="form-group">
                <span class="red-text" th:text="${msg !=null }? ${msg} : '' "></span>
            </div>
        </form>


        <!--<form role="form" th:action="@{/manager/show-acc-detail}" method="post" th:object="${objUser}">
            <input type="hidden" th:field="*{userId}" id="userId">
            <div class="form-group">
                <label>Username</label>
                <input class="form-control">

            </div>
            <div class="form-group">
                <label>Text Input with Placeholder</label>
                <input class="form-control" placeholder="Enter text">
            </div>
            <div class="form-group">
                <label>Static Control</label>
                <p class="form-control-static">email@example.com</p>
            </div>
            <div class="form-group">
                <label>File input</label>
                <input type="file">
            </div>
            <div class="form-group">
                <label>Text area</label>
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label>Checkboxes</label>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Checkbox 1
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Checkbox 2
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="">Checkbox 3
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>Inline Checkboxes</label>
                <label class="checkbox-inline">
                    <input type="checkbox">1
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox">2
                </label>
                <label class="checkbox-inline">
                    <input type="checkbox">3
                </label>
            </div>
            <div class="form-group">
                <label>Radio Buttons</label>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked="">Radio 1
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Radio 2
                    </label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">Radio 3
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>Inline Radio Buttons</label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked="">1
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">2
                </label>
                <label class="radio-inline">
                    <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline3" value="option3">3
                </label>
            </div>
            <div class="form-group">
                <label>Selects</label>
                <select class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="form-group">
                <label>Multiple Selects</label>
                <select multiple="" class="form-control">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <button type="submit" class="btn btn-default">Submit Button</button>
            <button type="reset" class="btn btn-default">Reset Button</button>
        </form>-->
    </div>
</div>

