<div xmlns:th="http://www.thymeleaf.org">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th> Mã user</th>
                <th> Tên đăng nhập</th>
                <th> Công ty</th>
                <th> Số dư</th>
                <th> Tiền tệ</th>
                <th> Tên đầy đủ</th>

                <th> Email</th>
                <th> Số điện thoại</th>
                <th> Trạng thái</th>
                <th> Gửi tin MXH,QC</th>
                <th> Gủi trùng tin</th>
                <th> Popup</th>
                <th> No Popup</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${lstUser.empty}">
                <td colspan="2"> No Account Available</td>
            </tr>
            <tr th:each="obj : ${lstUser}">
                <td><span th:text="${obj.userId}"></span></td>
                <td><span th:text="${obj.username}"> </span></td>
                <td><span th:text="${obj.company}"></span></td>
                <td><span th:text="${obj.cashBalance}"></span></td>
                <td><span th:text="${obj.currency}"></span></td>
                <td><span th:text="${obj.fullname}"></span></td>
                <td><span th:text="${obj.email}"></span></td>
                <td><span th:text="${obj.phone}"></span></td>
                <td><span th:text="${obj.enable!=null && obj.enable ==true}?'Active':'Khóa'"></span></td>
                <td><span th:text="${obj.allowSocialMsg!=null && obj.allowSocialMsg ==true}?'Cho phép':'Không'"></span>
                </td>
                <td><span th:text="${obj.messageDouble!=null && obj.messageDouble ==true}?'Cho phép':'Không'"></span>
                </td>
                <!--            <td><span></span><a th:href="@{'/manager/show-acc-detail?id='+${obj.id}+'&email='+ ${obj.email}}">Bán</a>-->
                <td>
                    <div class="float-block">
                        <a class="button" th:onclick="|openModal('${obj.userId}','view')|">Xem</a>
                        <a class="button" th:onclick="|openModal('${obj.userId}','edit')|">Sửa</a>
                    </div>
                </td>
                <td>
                    <div class="float-block">
                        <a class="button" th:href="@{'/manager/user/createUser'}">Thêm mới</a>
                        <a class="button" th:href="@{'/manager/user/viewUser?id='+${obj.id}}">Xem</a>
                        <a class="button" th:href="@{'/manager/user/editUser?id='+${obj.id}}">Sửa</a>

                    </div>

                </td>
            </tr>
            </tbody>
        </table>
        <!--<div th:insert="includes/pagingAjax :: paging"></div>-->
        <div th:insert="includes/pagingBackend :: paging"></div>
    </div>
</div>
